.hidden {
    display:none;
}
.navbar {
    background:#333;
}
.admin-content {
    display:flex;
    height:calc(100vh - 58px);
    margin-top:58px;
}
.admin-content .side-bar {
    flex:2;
    height:100%;
    background:#222;
}
.admin-content .side-bar ul {
    list-style:none;
    margin:0;
    padding:0;
}
.admin-content .side-bar ul li a {
    padding:10px 15px;
    display:block;
    border-bottom:1px solid #111;
    transition:.3s all ease-in-out;
    color:#888;
}
.admin-content .side-bar ul li a:hover {
    text-decoration:none;
    background:#333;
}

/*-- RECENT BLOG POSTS --*/
.admin-content .content-bar {
    flex:8;
    height:100%;
    padding:40px;
    overflow-y:scroll;
}
.recent-posts-card .button-group a {
    background:#191919;
    margin:0 1px;
    font-size:12px;
}

.audio {
    padding:10px 15px;
    background:#151515;
    margin:0 0 15px 0;
}
audio {
    width:100%;
}
.button-group {
    text-align:center;
}

.row .col-md-5 {
    align-items:middle;
}