@media (max-width: 1199px) {
}

@media (max-width: 991px) {
    .subscription-bar {
        margin-top:10px;
    }
    .beat-view .title {
        height:28px;
        overflow-y:hidden;
        overflow-x:hidden;
    }
}

@media (max-width: 767px) {
    .bp .img {
        min-width:100%;
        max-width:100%;
    }
    .bp-details {
        margin-bottom:45px;
    }
    .subscription-bar {
        margin-top:0;
    }
}

@media (max-width: 575px) {
    .player .cover {
        display:none;
    }
    .volume {
        left:155px;
    }
    .player .fa-volume-up {
        left:135px;
    }
    .player .in-time {
        left:120px;
    }
    .tracker {
        left:155px;
        width:calc(100% - 205px);
    }
}

@media (max-width: 454px) {
    .player .title {
        display:none;
    }
}