:root {
    --black: #1e1e1e;
    --bg-gradient-top: linear-gradient(to top, #1e1e1e, #101010);
    --bg-gradient-bottom: linear-gradient(to bottom, #1e1e1e, hsl(0, 0%, 6%));
    --test-color: linear-gradient(to top, #630c6b, #c218d1);
    --test-color-2: linear-gradient(to right, #630c6b, #c218d1);
    --whitish: #555;
    --white: #aaa;
}

body {
    font-family: inter, sans-serif;

    position: relative;
    background: var(--bg-gradient-top);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.hidden {
    display: none;
}

/* trackers */
.volume {
    background: var(--test-color);
    position: absolute;
    width: 3px;
    height: 100%;
}

.track-tracker {
    background: var(--test-color-2);
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
}

.controllers {
    color: var(--whitish);
    position: absolute;
    background: var(--black);
    /* border: 2px solid var(--whitish); */
    border-radius: 35px;
    width: 200px;
    height: 65px;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.controllers .ctrl {
    font-size: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.controllers .ctrl:nth-child(1) {
    left: 25px;
}

.controllers .ctrl:nth-child(2),
.controllers .ctrl:nth-child(3) {
    left: 50%;
    transform: translate(-50%, -50%);
}

.controllers .ctrl:nth-child(2) {
    left: 103px;
}

.controllers .ctrl:nth-child(4) {
    right: 25px;
}

.controllers .ctrl:hover {
    color: var(--white);
}

.tracks {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.tracks .track {
    position: absolute;
    width: 300px;
    height: 300px;
    left: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 25px 25px rgb(0, 0, 0, 0.5);
}

.tracks .track img {
    position: absolute;
    width: 100%;
    top: 0;
}

.active-track {
    border: 5px solid var(--white);
    z-index: 6;
}

.tracks .track:nth-child(1) {
    left: 409px;
    transform: translate(0, -50%);
    width: 133px;
    height: 133px;
    z-index: 1;
    opacity: 0.1;
}

.tracks .track:nth-child(11) {
    right: 409px;
    transform: translate(0, -50%);
    width: 133px;
    height: 133px;
    z-index: 1;
    opacity: 0.1;
}

.tracks .track:nth-child(2) {
    left: 475px;
    transform: translate(0, -50%);
    width: 157px;
    height: 157px;
    z-index: 2;
    opacity: 0.3;
}

.tracks .track:nth-child(10) {
    right: 475px;
    transform: translate(0, -50%);
    width: 157px;
    height: 157px;
    z-index: 2;
    opacity: 0.3;
}

.tracks .track:nth-child(3) {
    left: 540px;
    transform: translate(0, -50%);
    width: 184px;
    height: 184px;
    z-index: 3;
    opacity: 0.5;
}

.tracks .track:nth-child(9) {
    right: 540px;
    transform: translate(0, -50%);
    width: 184px;
    height: 184px;
    z-index: 3;
    opacity: 0.5;
}

.tracks .track:nth-child(4) {
    left: 615px;
    transform: translate(0, -50%);
    width: 217px;
    height: 217px;
    z-index: 4;
    opacity: 0.7;
}

.tracks .track:nth-child(8) {
    right: 615px;
    transform: translate(0, -50%);
    width: 217px;
    height: 217px;
    z-index: 4;
    opacity: 0.7;
}

.tracks .track:nth-child(5) {
    left: 705px;
    transform: translate(0, -50%);
    width: 255px;
    height: 255px;
    z-index: 5;
    opacity: 0.9;
}

.tracks .track:nth-child(7) {
    right: 705px;
    transform: translate(0, -50%);
    width: 255px;
    height: 255px;
    z-index: 5;
    opacity: 0.9;
}

.tracks .track:nth-child(6) {
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

.playlist {
    position: fixed;
    height: calc(100vh - 2px);
    width: calc(400px - 50px);

    background: var(--black);
    top: 0;
    right: -400px;
    padding: 25px;
    z-index: 8;

    transition: 0.3s ease;
}

.playlist-active {
    right: 0;
}

.playlist .playlist-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

.playlist .playlist-header::after {
    content: "";
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);

    background: var(--white);
    width: calc(100% - 50px);
    height: 1px;
    opacity: 0.2;
}

.playlist h5 {
    position: absolute;
    color: var(--white);
    left: 25px;
    top: 50%;
}

.playlist .playlist-tracks {
    position: absolute;
    top: 71px;
    height: calc(100vh - 71px);
    width: calc(100% - 50px);
}

.playlist .playlist-tracks .playlist-track {
    position: relative;
    height: 60px;
    width: 100%;
    overflow-x: hidden;
    margin-top: 15px;
    cursor: pointer;
}

.playlist .playlist-tracks .playlist-track:hover {
    opacity: 0.75;
}

.playlist .playlist-tracks .playlist-track img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.playlist .playlist-tracks .playlist-track h5 {
    position: absolute;
    top: calc(50% - 0.5px);
    left: 75px;
    transform: translateY(-50%);

    color: var(--white);
    font-size: 17px;
    width: 100%;
    z-index: 10;
}

.playlist-active-track {
    border-radius: 5px;
    opacity: 0.5;
}

.playlist-active-track::after {
    content: "";
    position: absolute;

    background: var(--whitish);
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    border-radius: 10px;
}

.playlist .playlist-tracks .playlist-active-track img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

.open_playlist {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 25px;
    top: 20px;

    color: var(--whitish);
    font-size: 25px;

    cursor: pointer;
    z-index: 11;
}

.open_playlist div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.open_playlist:hover {
    color: var(--white);
}

.open_playlist-active:hover {
    color: var(--white);
}

.title {
    position: absolute;
    font-size: 32px;
    color: var(--white);
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}
